<div class="tab-pane fade" id="tab-pane-2">
    <h4 class="mb-3">Ek Bilgiler</h4>
    <p>
        Mango topuklu bilekte bot, şıklığı ve rahatlığı bir araya getirir.
        Blok topuk tasarımı sayesinde her adımda denge ve zarafet sağlar.
        Yandan fermuarlı yapısı ile kolay giyilip çıkarılır.
        Siyah deri görünümlü malzemesi günlük kullanım ve özel kombinler için uygundur.
    </p>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    <strong>Renk:</strong> Siyah
                </li>
                <li class="list-group-item px-0">
                    <strong>Topuk tipi:</strong> Blok topuk
                </li>
                <li class="list-group-item px-0">
                    <strong>Malzeme:</strong> Deri görünümlü / Suni deri
                </li>
                <li class="list-group-item px-0">
                    <strong>Kapanış:</strong> Yandan fermuarlı
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    <strong>Bilekte Kesim:</strong> Modern ve şık görünüm
                </li>
                <li class="list-group-item px-0">
                    <strong>Konfor:</strong> İç astar ile rahat kullanım
                </li>
                <li class="list-group-item px-0">
                    <strong>Stil:</strong> Günlük ve özel kombinler için uygun
                </li>
                <li class="list-group-item px-0">
                    <strong>Kullanım Önerisi:</strong> Skinny jean, etek veya elbiselerle kombinlenebilir
                </li>
            </ul>
        </div>
    </div>
</div>
