<style>
    .vendor-item {
        width: 100%;
        height: 130px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
    }

        .vendor-item img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* ÇERÇEVEYİ TAM DOLDURUR */
            padding: 20px; /* logolar nefes alsın */
        }
</style>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">

                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/kiko.png" alt="Kiko">
                </div>
                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/cartier.png" alt="Kiko">
                </div>

                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/zaraimages.png" alt="Zara">
                </div>

                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/vivense-logo-b29067.png" alt="Vivense">
                </div>

                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/koçtaş.svg" alt="Koçtaş">
                </div>
                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/company.png" alt="Koçtaş">
                </div>

                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/nb.png" alt="New Balance">
                </div>

                <div class="vendor-item">
                    <img src="/online-shop-website-template/img/armour.png" alt="Under Armour">
                </div>

            </div>
        </div>
    </div>
</div>
