<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/online-shop-website-template/img/yatak.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">%15 İndirim</h6>
                    <h3 class="text-white mb-3">Şık Yatak Odası Takımları</h3>
                    <a href="" class="btn btn-primary">Hemen İncele</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/online-shop-website-template/img/koltuk.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">%20 İndirim</h6>
                    <h3 class="text-white mb-3">Ev Dekorasyonları</h3>
                    <a href="" class="btn btn-primary">Hemen İncele</a>
                </div>
            </div>
        </div>
    </div>
</div>
